:root {
  --accent-color: #2196f3;
  --color-text: #757575;
  --color-text-link: #212121;
  --color-title: #212121;
  --main-title: #ffffff;
  --team-bg: #f5f4fa;
  --bg-color: #2f303a;
  --logo-color: #000000;
  --color-simple: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-title);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn {
  cursor: pointer;
  border: none;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.m-bottom {
  margin-bottom: 94px;
}

.img {
  display: block;
}

/* ----------------------------------------------HEADER----------------------------------------- */
.header {
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--logo-color);
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
  padding-left: 0;
}

.nav-list .item + .item {
  margin-left: 50px;
}

.nav-link {
  padding-top: 15px;
  padding-bottom: 15px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.text-logo,
.current,
.link:hover,
.link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-link {
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.contact-list .item + .item {
  margin-left: 50px;
}

/* ----------------------------------------------HERO----------------------------------------- */

.hero {
  background-color: var(--bg-color);
  text-align: center;
  margin-bottom: 94px;
}

.hero-title {
  max-width: 696px;
  padding-top: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title);
}

.hero-btn {
  padding: 10px 32px;
  margin-bottom: 200px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--accent-color);
  color: var(--color-simple);
}
.hero-btn:hover {
  background-color: #188ce8;
}

/* ----------------------------------------------ADVANTAGE----------------------------------------- */
.advantage-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.advantage-list .item {
  width: 270px;
}

.advantage-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title);
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* ----------------------------------------------WORK----------------------------------------- */
.work {
  margin-bottom: 94px;
}
.work-title {
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  justify-content: space-between;
}
/* ----------------------------------------------TEAM----------------------------------------- */
.team {
  background-color: var(--team-bg);
}

.team .title {
  padding-top: 94px;
  padding-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.person-item {
  background-color: var(--color-simple);
}

.person-item .img {
  margin-bottom: 30px;
}

.person-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-link);
}

.person-text {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* ----------------------------------------------FOOTER----------------------------------------- */
.footer {
  background-color: var(--bg-color);
}

.footer-logo {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;

  color: var(--color-simple);
}

.address-list .item + .item {
  margin-top: 9px;
}

.address-list {
  padding-bottom: 60px;
}

.map-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-simple);
}

.address-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* -----------------/////////////////////PORTFOLIO///////////////////--------------------- */

/* ----------------------------------PORTFOLIO-HEADER----------------------------------------- */

.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.list-btn .btn-item + .btn-item {
  margin-left: 8px;
}

.btn-filter:hover,
.btn-filter:focus,
.active {
  background: var(--accent-color);
  color: var(--color-simple);
}

.btn-filter {
  padding: 6px 22px;

  cursor: pointer;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ---------------------------------------PORTFOLIO-MAIN----------------------------------------- */

.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-item {
  margin-bottom: 30px;

  background: var(--color-simple);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.card-item .img {
  margin-bottom: 20px;
}

.card-title {
  padding-bottom: 4px;
  padding-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
}

.card-text {
  padding-bottom: 20px;
  padding-left: 24px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
